@import "tailwindcss";

@font-face {
  font-family: "GT America";
  src: url("./fonts/GT-America-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tan Pearl";
  src: url("./fonts/tan-pearl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body,
html,
:root {
  font-family: "GT America", sans-serif;
}

@theme {
  /* --color-primary: #c19a5b; */
  --color-primary: #ffb400;
  --color-secondary: #fff;

  --font-tan-pearl: "Tan Pearl", sans-serif;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.revealer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform-origin: center top;
  background-color: var(--color-primary) !important;
  pointer-events: none;
  z-index: 99999;
}
