@import "tailwindcss";

@font-face {
  font-family: "GT America";
  src: url("./fonts/GT-America-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body,
html,
:root {
  font-family: "GT America", sans-serif;
}

@theme {
  --color-primary: #c19a5b;
  --color-secondary: #f9f5ef;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



