@import "tailwindcss";

@font-face {
  font-family: "GT America";
  src: url("./fonts/GT-America-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tan Pearl";
  src: url("./fonts/tan-pearl.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body,
html,
:root {
  font-family: "GT America", sans-serif;
}

@theme {
  /* --color-primary: #c19a5b; */
  --color-primary: #ffb400;
  --color-secondary: #fff;

  --font-tan-pearl: "Tan Pearl", sans-serif;
  --font-cinzel: "Cinzel", serif;
  --font-roboto: "Roboto", sans-serif;
}

@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee var(--duration, 30s) linear infinite;
}

.animate-marquee-reverse {
  animation-direction: reverse;
}

@media (max-width: 640px) {
  .animate-marquee {
    animation-duration: calc(var(--duration, 30s) * 0.7);
  }
}

.container-services {
  width: 500vw;
  /* Adjusted for 5 panels */
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  /* Added */
}

.sticky {
  position: sticky;
  transform: translate3d(0, 0, 0);
}

.panel {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  /* Added */
}