@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body,
html,
:root {
  font-family: "GT America", sans-serif;
}

@theme {
  /* --color-primary: #c19a5b; */
  --color-primary: #ffb400;
  --color-secondary: #fff;
  --color-background-gold: #e0bf8b;

  --color-background-black: #02020a;
  --color-primary-dark: #a38800;
  --color-subheading: #f0f0f0;

  /* --color-background-black: #020122; */
  /* 
  --color-background-black: #020122;
  --color-background-black: #020122; */

  --color-white1: #fdfdff;

  --font-cinzel: "Cinzel", serif;
  --font-roboto: "Roboto", sans-serif;
  --font-gloock: "Gloock", serif;
  --font-geist: "Geist", sans-serif;
  --font-oswald: "Oswald", sans-serif;

  /* font size */
  --text-heading-xl: 100px;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee var(--duration, 30s) linear infinite;
}

.animate-marquee-reverse {
  animation-direction: reverse;
}

@media (max-width: 640px) {
  .animate-marquee {
    animation-duration: calc(var(--duration, 30s) * 0.7);
  }
}

.container-services {
  width: 500vw;
  /* Adjusted for 5 panels */
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  /* Added */
}

.sticky {
  position: sticky;
  transform: translate3d(0, 0, 0);
}

.panel {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
